# Default file for TLS endpoints
# www.itconsulting-wolfinger.de
# ! or # are comments
# Columns:
# System:alias,DNS:fqdn,IP:firstIP,IP:secondIP
# Systems are:
# hg35|xpr|osb|ossbc|ucbackend|ucfrontend|ucfacade|openfire|mediatrix
# osvserver|osms|dls
# osvclient
# ASCEvoIPactive|MediatrixWEB|MediatrixSIP
# osbgui|sbcgui
# cmp
# apache
# tomcat
# ciscorouter
# email
# audiocodes:voip.company.biz,IP:1.2.3.4,DNS:*.voip.company.biz
# IMPORTANT! :: alias have to be unique within this pki project ::
# ----------------------------------------------------------------
# examples:
# apache:apache,IP:2.3.4.5
# email:ca@pkitool.de,email:ca@pkitool.de
# osvserver:cluster1100_s,IP:1.20.111.120,IP:1.20.111.121,IP:1.20.111.101,IP:1.20.111.111
# osvclient:cluster1100_c,IP:1.20.111.120,IP:1.20.111.121,IP:1.20.111.101,IP:1.20.111.111
# osb:osbG1-01
# osb:osbG2-01
# osb:osbG3-01
# osb:osbG4-01
# osbgui:osbGUIG1-01
# osbgui:osbGUIG2-01
# osbgui:osbGUIG3-01
# osbgui:osbGUIG4-01
# ossbc:ossbcG1-01,IP:10.100.90.11,IP:10.10.90.11
# ossbc:ossbcG2-01
# ossbc:ossbcG3-01
# ossbc:ossbcG4-01
# sbcgui:cscbGUIG1-01,IP:10.100.90.11,IP:10.10.90.11
# sbcgui:cscbGUIG2-01
# sbcgui:cscbGUIG3-01
# sbcgui:cscbGUIG4-01
# cmp:cmp100,IP:1.20.111.100
# openstage:498970071000.phones.unify.training,IP:1.23.11.203,DNS:498970071000.phones.unify.training
# openstage:*.phones.mycompany.domain
# ----------------------------------------------------------------

